body {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position:relative;
  /* выше установили ограничения для секции */
}

.header__logo_place {
  position: absolute;
  padding: 30px 64px;
}

.header__title{
  display: flex;
  align-items: center;
  padding-left: 64px;
  width: 730px;
  height: 100%;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__subtitle-link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.two-column {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 60px;
}

.table {
  margin: 0;
  width: 1100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__cell-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell-text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman-title {
  width: 648px;
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.feynman-subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman-link {
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translate(0, -50%);
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-top: 70px;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  color: #fff;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 80px;
}

.table_theme_dark {
  margin: 0;
  width: 1100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  row-gap: 80px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__cell-heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell-text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  color: #fff;
}

.columns {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
}

.column_content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
}

.author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  padding: 18px 0;
}

.column_content-social {
  display: flex;
  gap: 10px;
}

.column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.column-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  margin: 0 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.column-link {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16px;
  height: 16px;
  margin: 0;
  line-height: 32px;
}
